@import '~view-design/src/styles/index.less';

@HeaderHeight   : 64px;
@StickyLinkWidth: 70px;

.content-left-side-padding {
    padding-left: @StickyLinkWidth;
}

.content-left-side {
    margin-left: -@StickyLinkWidth;
}

.header-down {
    height: calc(100vh - 64px);
}

p,
.p {
    padding: 1em 1em 2em;
}



.quote {
    display       : inline-block;
    font-family   : '楷体';
    font-size     : 16px;
    letter-spacing: -1px;
    padding       : 4px 6px;
    border-radius : 2px;
}

.sticky-link {
    position        : sticky;
    display         : inline-block;
    z-index         : 999;
    background-color: white;
}