@import '~view-design/src/styles/index.less';

// @primary-color: #345678;
p,
.p {
    padding: 1em 1em 2em;
}



.quote {
    display       : inline-block;
    font-family   : '楷体';
    font-size     : 16px;
    letter-spacing: -1px;
    padding       : 4px 6px;
    border-radius : 2px;
}

